<div class="panel panel-primary">
  <div class="panel panel-heading">
    liste des livres
  </div>
  <div class="panel panel-body">
      <form>
        <input type="hidden" name="id" id ="id" [(ngModel)]="currentIntervention.id" />
        <div class="form-group">
          <label>DatePrevu</label>
          <input type="date"
                class="form-control"
                name="datePrevu"
                id="datePrevu"
                [(ngModel)]="currentIntervention.datePrevu" />
        </div>
        <div class="form-group">
          <label>DateEffectuee</label>
          <input type="date"
                class="form-control"
                name="dateEffectue"
                id="dateEffectue"
                [(ngModel)]="currentIntervention.dateEffectue" />
        </div>
        <div class="form-group">
          <label>statut</label>
          <input type="text"
                class="form-control"
                name="statut"
                id="statut"
                [(ngModel)]="currentIntervention.statut" />
        </div>
        <div class="form-group">
          <label>Commentaire</label>
          <input type="text"
                class="form-control"
                name="commentaire"
                id="commentaire"
                [(ngModel)]="currentIntervention.commentaire" />
        </div>
        <div class="form-group">
          <label>id_Materiel</label>
          <input type="number"
                class="form-control"
                name="id_Materiel"
                id="id_Materiel"
                [(ngModel)]="currentIntervention.id_Materiel" />
        </div>
        <div class="form-group">
          <label>id_Intervenant</label>
          <input type="number"
                class="form-control"
                name="id_Intervenant"
                id="id_Intervenant"
                [(ngModel)]="currentIntervention.id_Intervenant" />
        </div>
        
        <button class="btn btn-warning" (click)="cancelIntervention()" >annuler <span class="glyphicon glyphicon-thumbs-down"></span></button>
        <button class="btn btn-success" (click)="saveIntervention()">sauver <span class="glyphicon glyphicon-thumbs-up"></span></button>
      </form>
    </div>
  </div>
